/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6, h7 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}

h6 {
    font-size: 32px;
    color:#FFF;
    text-decoration: none;
}

h7 {
    font-size: 26px;
}

/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fca01f;
    border: 3px solid #000;
    color: #FFF;
    text-align: center;
    font: 32px Arial, sans-serif;
  }

  .checked {
    color: orange;
  }

  /* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
}

.container-star{
  position: relative;
  width: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-star .post{
  display: none;
}
.container-star .text{
  font-size: 15px;
  color: #666;
  font-weight: 500;
}

.container-star .edit:hover{
  text-decoration: underline;
}
.container-star .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 20px;
  color: #444;
  padding: 5px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fca01f;
}
input:checked ~ label{
  color: #fca01f;
}
input#rate-5:checked ~ label{
  color: #fca01f;
  text-shadow: 0 0 20px #fd4;
} */