<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</html>
<body>
<div class="container-fluid">

        {% block header %}
    <div class="row">
        <div class="col-md-12" style="height:850px">
        <div style="background-image: url('assets/img/verrukkulluk-header-homepage.jpeg'); object-fit: cover; height:100%;">
        <img src="assets/img/logo-v2.png" style=" width:400px "/> 
        </div>
        </div>
    </div>

            {% endblock %}   

    <div class="row">
        <div class="col-md-3" style="background-color:#95b82d">
                <h1>Agenda</h1>
                <i class="fa fa-calendar-alt" style="font-size: 40px;"> </i>
                <i style="font-size: 30px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
                <i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
                <i class="fa fa-calendar-alt" style="font-size: 40px;"> </i>
                <i style="font-size: 30px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
                <i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
                <i class="fa fa-calendar-alt" style="font-size: 40px;"> </i>
                <i style="font-size: 30px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
                <i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>

        </div>
        <div class="col-md-9" style="background-color:#FFF">
            {%  block content %}
            {%  endblock %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12" style="background-color:#eb8d1e" style="height:300px;">
        <div class="row footer">
        <img src="assets/img/verrukkulluk-pay-off.png"style=" width:100px; top:20%;" class="center"/>
        </div>
        <div class="col-md-2" style="max-width:150px">
        <img src="assets/img/verrukkulluk-contact.png"style=" width:150px "/>

           <i>Verrukkulluk.nl</i>
           <i>Poststraat 2b Sittard</i>
           <i>info@verrukkulluk.nl</i><br><br>
        </div>
        
    </div>
        </div>
    


</div>

</body>
