<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</html>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12" style="background-image: url('assets/img/verrukkulluk-header-homepage.jpeg')">
        {% block header %}
            
        {% endblock %}   
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="background-color: #95b82d">
            <h1 style="color: #FFF">Agenda</h1>
            <i class="fa fa-calendar"></i> FontAwesome <a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br>
            <i class="fa fa-file-pdf"></i><a href="https://www.layoutit.com/build">Layout-it</a>


        </div>
        <div class="col-md-9" style="background-color: #ffffff ">
            <div class="row">
				<div class="col-md-3">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
						<div class="card-block">
							<h5 class="card-title">
								Eggs & Veggies
							</h5>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis tortor et lobortis interdum. In hac habitasse platea dictumst. Donec interdum ipsum quis justo ornare semper. Morbi vehicula malesuada magna. Sed tincidunt, nisi vitae libero.
							</p>
							<p>
								<a class="btn btn-primary" href="#">Smullen</a> <a class="btn" href="#">Tekst</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg" />
						<div class="card-block">
							<h5 class="card-title">
								Vegan Burger
							</h5>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis tortor et lobortis interdum. In hac habitasse platea dictumst. Donec interdum ipsum quis justo ornare semper. Morbi vehicula malesuada magna. Sed tincidunt, nisi vitae libero.
							</p>
							<p>
								<a class="btn btn-primary" href="#">Smullen</a> <a class="btn" href="#">Tekst</a>
							</p>
						</div>
					</div>
				</div>
			</div>
            <br />
                        <div class="row">
				<div class="col-md-3">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
						<div class="card-block">
							<h5 class="card-title">
								Sushi Rolls
							</h5>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis tortor et lobortis interdum. In hac habitasse platea dictumst. Donec interdum ipsum quis justo ornare semper. Morbi vehicula malesuada magna. Sed tincidunt, nisi vitae libero.
							</p>
							<p>
								<a class="btn btn-primary" href="#">Smullen</a> <a class="btn" href="#">Tekst</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg" />
						<div class="card-block">
							<h5 class="card-title">
								Pizza Green
							</h5>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis tortor et lobortis interdum. In hac habitasse platea dictumst. Donec interdum ipsum quis justo ornare semper. Morbi vehicula malesuada magna. Sed tincidunt, nisi vitae libero.
							</p>
							<p>
								<a class="btn btn-primary" href="#">Smullen</a> <a class="btn" href="#">Tekst</a>
							</p>
						</div>
					</div>
				</div>
			</div>
            {%  block content %}
            {%  endblock %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 "style="background-color: #eb8d1e ">
            <h1>Footer</h1>
        </div>
    </div>


</div>

</body>
