<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/vegas.min.css" />  
	<link rel="stylesheet" type="text/css" href="assets/css/vegas.css"/>

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
    <script src="assets/vegas/vegas.js"></script>
    
	</head>
	<body>
	<div class="container-fluid">

    {# HEADER #}
	<div class="row">
		<div class="col-md-12">

    <div id="background-image"  class="pl-3 pt-4" style="height: 700px"> 
        <a href="http://localhost/educom-verrukkulluk-new/index.php"> <img src="assets/img/logo-v2.png" style="height: 180px; width: auto"/> </a>

			{% block header %}
			{% endblock %} 
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">

            {# AGENDA #}
			<div class="row p-4">
				<div class="col-md-12; border shadow" style="background-color: #95b82d">
						<center><img src="assets/img/verrukkulluk-agenda.png" style="width:170px" text-align="center"/></center>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
				</div>
			</div>

            {# LOGIN #}
			<div class="row p-4">
				<div class="col-md-12; border shadow" style="background-color: #b31714">
					<center><img src="assets/img/verrukkulluk-login.png" style="width:170px; text-align:center"/></center>
						<form role="form">
							<div class="form-group">
								<label for="exampleInputEmail1">Email</label>
									<input type="email" class="form-control" id="exampleInputEmail1"/>
							</div>

								<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
										<input type="password" class="form-control" id="exampleInputPassword1"/>
							</div>
							<div class="form-group">
								<center><button type="login" class="btn btn-primary" style="background-color: orange">Login</button></center>
							</div>
						</form>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="row">

                {# MAIN CONTENT #}
					{%  block content %}
					{%  endblock %}
			</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<nav class="pagination-sm">
							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="#">Previous</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item"><a class="page-link" href="#">Next</a></li>
							</ul>
						</nav>
					</div>
				</div>
	</div>

    {# FOOTER #}
	<div class="row">
		<div class="col-md-12" style="background-color: #eb8d1f">
			<img src="assets/img/verrukkulluk-pay-off.png"style=" width:100px; top:50%;" class="center"/>
				<div class="col-md-2" style="max-width:150px">
					<img src="assets/img/verrukkulluk-contact.png"style=" width:150px "/>

						<i>Verrukkulluk.nl</i>
						<i>Poststraat 2b Sittard</i>
						<i>info@verrukkulluk.nl</i><br><br>
		
				</div>
		</div>
	</div>
</div>
    
</body>
</html>
