<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</html>
<body>

	{# HEADER #}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
			{% block header %}
			{% endblock %} 
			</div>
		</div>
	{# AGENDA #}
		<div class="row d-flex p-2">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12; border shadow" style="background-color: #95b82d">
						<p><img src="assets/img/verrukkulluk-agenda.png" style="width:150px" text-align="center"/></p>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
						<i class="fa fa-calendar-alt" style="font-size: 40px; color:#FFF;"> </i>
						<i style="font-size: 40px;font-family: pretty_lilyregular;">Vegetarisch koken</i> <br>
						<i style="font-size: 14px;"> Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee.</i><br><br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12; border shadow" style="background-color: #b31714">
						<p><img src="assets/img/verrukkulluk-login.png" style="width:150px" text-align="center"/></p>
					</div>
				</div>
			</div>

	{# MAIN CONTENT #}
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					{%  block content %}
					{%  endblock %}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
							<nav class="pagination-sm">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" href="#">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>

</body>